@import "http://fonts.googleapis.com/css?family=Roboto+Slab";
body{
margin:0;
padding:0;
font-family:'Roboto Slab',serif
}
#first{
width:400px;
height:610px;
box-shadow:0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
float:left;
padding:10px 50px 0;
margin:2% 30%;
/* background-image:url(../images/i.jpg) */
}
hr{
border:none;
border-bottom:1px solid #ccc;
margin-bottom:40px
}
h4{
margin-top:-20px
}
span{
float:left;
font-size:17px
}
span.spn1{
margin-top:13px
}
input{
width:300px;
padding:10px;
border:3px solid #e1e1e1;
margin-bottom:25px
}
textarea{
width:300px;
padding:10px;
border:3px solid #e1e1e1;
height:100px;
margin-bottom:25px
}
input.name{
margin-left:25px
}
input.email{
margin-left:27px
}
input.male{
width:50px;
margin-left:7px;
margin-bottom:15px;
height:17px
}
input.female{
width:50px;
margin-left:72px;
margin-bottom:15px;
height:17px
}
input.submit{
width:100px;
font-weight:700;
margin-left:86px;
cursor:pointer;
background-color:#ad6d2f;
font-family:'Roboto Slab',serif;
border:2px solid #fff
}